.profile-bg-container {
  width: 100%;
  height: 100%;
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  padding: 30px 20px;
}

.profile-name{
  color: #6366f1;
  font-size: 20px;
  font-family: "Roboto";
}

.profile-bio{
  color: #475569;
  font-family: "Roboto";
  font-size: 16px;
}
