.not-found-container {
  background-color: #121212;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.not-found-img {
  width: 90%;
}

.not-found-heading {
  font-size: 18px;
  font-family: 'Roboto';
  color: #ffffff;
}

.not-found-description {
  font-size: 14px;
  font-family: 'Roboto';
  color: #ffffff;
  text-align: center;
  width: 80%;
}

@media (min-width: 768px) {
  .not-found-container {
    padding: 40px;
  }
  .not-found-img {
    width: 40%;
    height: 400px;
  }
  .not-found-heading {
    font-size: 24px;
  }
  .not-found-description {
    width: 50%;
    font-size: 18px;
  }
}
