.job-link {
  text-decoration: none;
}

.job-card {
  background-color: #272727;
  border: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 15px;
}

.job-profile-section {
  display: flex;
  gap: 10px;
}

.company-logo-img {
  width: 60px;
  height: 60px;
}

.job-details {
  line-height: 1;
  display: flex;
  flex-direction: column;
}

.job-role {
  margin-top: 0%;
  padding-top: 4px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  font-family: 'Roboto';
}

.job-rating-container {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 0%;
  padding-top: 0%;
}

.company-rating {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
}

.star-icon {
  color: #fbbf24;
  width: 20px;
  height: 20px;
}

.job-other-details {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.job-details-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.job-location {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
}

.job-details-icon {
  color: #ffffff;
  width: 20px;
  height: 20px;
}

.emp-type {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
}

.ppa-text {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  flex-grow: 1;
  text-align: right;
}

.job-description {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
}

.job-description-text {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
}
