.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.login-card {
  background-color: #272727;
  border-radius: 8px;
  width: 90%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.website-logo {
  width: 90px;
  height: 30px;
  margin-bottom: 18px;
}

.login-form {
  width: 85%;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 18px;
}

.input-label {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
}

.input-field {
  background-color: transparent;
  border: 1px solid #64748b;
  border-radius: 4px;
  width: 100%;
  height: 30px;
  padding-left: 15px;
  color: #f8fafc;
  outline: none;
}

.login-button {
  background-color: #4f46e5;
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 4px;
  font-family: 'Roboto';
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}

.error-text {
  color: #ff0b37;
  font-family: 'Roboto';
  font-size: 14px;
}

@media (min-width: 768px) {
  .login-card {
    width: 50%;
    padding: 40px 25px;
  }

  .website-logo {
    width: 135px;
    height: 50px;
    margin-bottom: 35px;
  }

  .login-form {
    width: 72%;
  }

  .input-container {
    margin-bottom: 22px;
    gap: 8px;
  }

  .input-field {
    height: 40px;
    font-size: 14px;
    font-weight: 500;
  }

  .input-label {
    font-size: 14px;
  }

  .login-button {
    height: 40px;
  }
}
