.jobs-container {
  min-height: 100vh;
  background-color: #000000;
}

.jobs-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input-container {
  width: 100%;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #b6c5ff;
  margin-bottom: 20px;
}

.search-input {
  height: 100%;
  width: 75%;
  flex-grow: 1;
  border: none;
  background-color: transparent;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  color: #f8fafc;
  outline: none;
}

.search-button {
  height: 100%;
  border: none;
  background-color: #272727;
  width: 80px;
  cursor: pointer;
}

.search-icon {
  width: 25px;
  height: 25px;
  color: #f8fafc;
}

.profile-container {
  width: 100%;
  min-height: 210px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.retry-button {
  height: 45px;
  width: 120px;
  background-color: #4f46e5;
  border: none;
  border-radius: 4px;
  font-family: 'Roboto';
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.hr-line {
  border: 1px solid #b6c5ff;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.filters-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.filter-heading {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto';
}

.filter-lists {
  padding-left: 0%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list {
  display: flex;
  align-items: center;
  gap: 5px;
}

.label-text {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
}

.jobs-list-container {
  width: 100%;
  margin-top: 20px;
  list-style-type: none;
  padding-left: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jobs-failure-container {
  width: 100%;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}

.failure-img {
  width: 65%;
}

.failure-title {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.failure-description {
  width: 60%;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  font-family: 'Roboto';
}

.no-jobs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-jobs-img {
  width: 65%;
}

.no-jobs-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.no-jobs-description {
  width: 60%;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  font-family: 'Roboto';
}

.left-container {
  width: 100%;
}

.lg-search-input-container {
  display: none;
}

@media (min-width: 768px) {
  .jobs-content {
    min-height: 100vh;
    padding: 40px;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
  }
  .left-container {
    width: 30%;
  }
  .sm-search-input-container {
    display: none;
  }

  .lg-search-input-container {
    display: flex;
    width: 70%;
  }

  .jobs-list-container {
    height: 110vh;
    overflow-y: auto;
  }

  .right-container {
    width: 70%;
  }
  .loader-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
