.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.link-button{
  text-decoration: none;
}

.home-content {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  min-height: 150vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.home-heading {
  color: #ffffff;
  font-weight: 600;
  font-family: 'Roboto';
  font-size: 28px;
}

.home-description {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Roboto';
}

.find-jobs-button {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 500;
  background-color: #6366f1;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  width: 90px;
  height: 35px;
}

@media (min-width: 768px) {
  .home-content {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
    min-height: 120vh;
    padding-top: 80px;
    padding-left: 60px;
    gap: 20px;
  }

  .home-heading {
    font-size: 34px;
  }
  .home-description {
    font-size: 24px;
    width: 420px;
  }
  .find-jobs-button {
    width: 135px;
    height: 40px;
    font-size: 18px;
  }
}
